<?php
/**
 * CompanyApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Coupons Api
 *
 * TrustAndUse coupons api in the swagger-2.0 specification
 *
 * OpenAPI spec version: 1.0.0
 * Contact: sp@7indigo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\Configuration;
use \Swagger\Client\ObjectSerializer;

/**
 * CompanyApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CompanyApi
{
    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return CompanyApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addUserCompanyRoles
     *
     * 
     *
     * @param string $id Required ID for the Company the role is for. (required)
     * @param string $brand_id ID of the Brand connected with the Company (optional)
     * @param string $store_id ID of the Store connected with the Company (optional)
     * @param string $product_id ID of the Product connected with the Company (optional)
     * @param string $coupon_id ID of the Coupon connected with the Company (optional)
     * @param \Swagger\Client\Model\CreateCompanyUserRoles $create_company_user_roles Company&#39;s User Priveleges Parameters for the company ID and userID. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\UserID
     */
    public function addUserCompanyRoles($id, $brand_id = null, $store_id = null, $product_id = null, $coupon_id = null, $create_company_user_roles = null)
    {
        list($response) = $this->addUserCompanyRolesWithHttpInfo($id, $brand_id, $store_id, $product_id, $coupon_id, $create_company_user_roles);
        return $response;
    }

    /**
     * Operation addUserCompanyRolesWithHttpInfo
     *
     * 
     *
     * @param string $id Required ID for the Company the role is for. (required)
     * @param string $brand_id ID of the Brand connected with the Company (optional)
     * @param string $store_id ID of the Store connected with the Company (optional)
     * @param string $product_id ID of the Product connected with the Company (optional)
     * @param string $coupon_id ID of the Coupon connected with the Company (optional)
     * @param \Swagger\Client\Model\CreateCompanyUserRoles $create_company_user_roles Company&#39;s User Priveleges Parameters for the company ID and userID. (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     */
    public function addUserCompanyRolesWithHttpInfo($id, $brand_id = null, $store_id = null, $product_id = null, $coupon_id = null, $create_company_user_roles = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addUserCompanyRoles');
        }
        // parse inputs
        $resourcePath = "/company/{id}/user";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($brand_id !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brand_id);
        }
        // query params
        if ($store_id !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($store_id);
        }
        // query params
        if ($product_id !== null) {
            $queryParams['productID'] = $this->apiClient->getSerializer()->toQueryValue($product_id);
        }
        // query params
        if ($coupon_id !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($coupon_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($create_company_user_roles)) {
            $_tempBody = $create_company_user_roles;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/company/{id}/user'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation changeCompanyUserRoles
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\UpdateCompanyUserRoles $update_company_user_roles Company&#39;s User Priveleges Parameters for the Company ID and UserID. (required)
     * @param string $brand_id ID of the Brand connected with the Company (optional)
     * @param string $store_id ID of the Store connected with the Company (optional)
     * @param string $product_id ID of the Product connected with the Company (optional)
     * @param string $coupon_id ID of the Coupon connected with the Company (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\UserID
     */
    public function changeCompanyUserRoles($id, $update_company_user_roles, $brand_id = null, $store_id = null, $product_id = null, $coupon_id = null)
    {
        list($response) = $this->changeCompanyUserRolesWithHttpInfo($id, $update_company_user_roles, $brand_id, $store_id, $product_id, $coupon_id);
        return $response;
    }

    /**
     * Operation changeCompanyUserRolesWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\UpdateCompanyUserRoles $update_company_user_roles Company&#39;s User Priveleges Parameters for the Company ID and UserID. (required)
     * @param string $brand_id ID of the Brand connected with the Company (optional)
     * @param string $store_id ID of the Store connected with the Company (optional)
     * @param string $product_id ID of the Product connected with the Company (optional)
     * @param string $coupon_id ID of the Coupon connected with the Company (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     */
    public function changeCompanyUserRolesWithHttpInfo($id, $update_company_user_roles, $brand_id = null, $store_id = null, $product_id = null, $coupon_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling changeCompanyUserRoles');
        }
        // verify the required parameter 'update_company_user_roles' is set
        if ($update_company_user_roles === null) {
            throw new \InvalidArgumentException('Missing the required parameter $update_company_user_roles when calling changeCompanyUserRoles');
        }
        // parse inputs
        $resourcePath = "/company/{id}/user";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($brand_id !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brand_id);
        }
        // query params
        if ($store_id !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($store_id);
        }
        // query params
        if ($product_id !== null) {
            $queryParams['productID'] = $this->apiClient->getSerializer()->toQueryValue($product_id);
        }
        // query params
        if ($coupon_id !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($coupon_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($update_company_user_roles)) {
            $_tempBody = $update_company_user_roles;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/company/{id}/user'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation companyGetDetails
     *
     * 
     *
     * @param string $id ID for the company to find the details for. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Company
     */
    public function companyGetDetails($id)
    {
        list($response) = $this->companyGetDetailsWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation companyGetDetailsWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the company to find the details for. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Company, HTTP status code, HTTP response headers (array of strings)
     */
    public function companyGetDetailsWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling companyGetDetails');
        }
        // parse inputs
        $resourcePath = "/company/details/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Company',
                '/company/details/{id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Company', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Company', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createBrandForCompany
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyBrandCreateParameters $company_brand_create_parameters Brand parameters for creating new brand consisting of User ID, brand name, description, main image URL and logo image URL. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Brand
     */
    public function createBrandForCompany($id, $company_brand_create_parameters)
    {
        list($response) = $this->createBrandForCompanyWithHttpInfo($id, $company_brand_create_parameters);
        return $response;
    }

    /**
     * Operation createBrandForCompanyWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyBrandCreateParameters $company_brand_create_parameters Brand parameters for creating new brand consisting of User ID, brand name, description, main image URL and logo image URL. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Brand, HTTP status code, HTTP response headers (array of strings)
     */
    public function createBrandForCompanyWithHttpInfo($id, $company_brand_create_parameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createBrandForCompany');
        }
        // verify the required parameter 'company_brand_create_parameters' is set
        if ($company_brand_create_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $company_brand_create_parameters when calling createBrandForCompany');
        }
        // parse inputs
        $resourcePath = "/company/{id}/brand/create";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($company_brand_create_parameters)) {
            $_tempBody = $company_brand_create_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Brand',
                '/company/{id}/brand/create'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Brand', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Brand', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createCompany
     *
     * 
     *
     * @param \Swagger\Client\Model\CreateCompanyParameters $create_company_parameters Company Parameters for the company to be created and User ID of User that creates the company. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Company
     */
    public function createCompany($create_company_parameters)
    {
        list($response) = $this->createCompanyWithHttpInfo($create_company_parameters);
        return $response;
    }

    /**
     * Operation createCompanyWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\CreateCompanyParameters $create_company_parameters Company Parameters for the company to be created and User ID of User that creates the company. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Company, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCompanyWithHttpInfo($create_company_parameters)
    {
        // verify the required parameter 'create_company_parameters' is set
        if ($create_company_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $create_company_parameters when calling createCompany');
        }
        // parse inputs
        $resourcePath = "/company/create";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($create_company_parameters)) {
            $_tempBody = $create_company_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Company',
                '/company/create'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Company', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Company', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createCouponForCompany
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyCouponCreateParameters $company_coupon_create_parameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids and offerproviderids. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Coupon
     */
    public function createCouponForCompany($id, $company_coupon_create_parameters)
    {
        list($response) = $this->createCouponForCompanyWithHttpInfo($id, $company_coupon_create_parameters);
        return $response;
    }

    /**
     * Operation createCouponForCompanyWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyCouponCreateParameters $company_coupon_create_parameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids and offerproviderids. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     */
    public function createCouponForCompanyWithHttpInfo($id, $company_coupon_create_parameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createCouponForCompany');
        }
        // verify the required parameter 'company_coupon_create_parameters' is set
        if ($company_coupon_create_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $company_coupon_create_parameters when calling createCouponForCompany');
        }
        // parse inputs
        $resourcePath = "/company/{id}/coupon/create";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($company_coupon_create_parameters)) {
            $_tempBody = $company_coupon_create_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/company/{id}/coupon/create'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createProductCompany
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyProductCreateParameters $company_product_create_parameters Product parameters for creating new product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Product
     */
    public function createProductCompany($id, $company_product_create_parameters)
    {
        list($response) = $this->createProductCompanyWithHttpInfo($id, $company_product_create_parameters);
        return $response;
    }

    /**
     * Operation createProductCompanyWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyProductCreateParameters $company_product_create_parameters Product parameters for creating new product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Product, HTTP status code, HTTP response headers (array of strings)
     */
    public function createProductCompanyWithHttpInfo($id, $company_product_create_parameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createProductCompany');
        }
        // verify the required parameter 'company_product_create_parameters' is set
        if ($company_product_create_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $company_product_create_parameters when calling createProductCompany');
        }
        // parse inputs
        $resourcePath = "/company/{id}/product/create";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($company_product_create_parameters)) {
            $_tempBody = $company_product_create_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Product',
                '/company/{id}/product/create'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Product', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Product', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createStoreForCompany
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyStoreCreateParameters $company_store_create_parameters Store Parameters for the store to be created and User ID of User that creates the store. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\Store
     */
    public function createStoreForCompany($id, $company_store_create_parameters)
    {
        list($response) = $this->createStoreForCompanyWithHttpInfo($id, $company_store_create_parameters);
        return $response;
    }

    /**
     * Operation createStoreForCompanyWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\CompanyStoreCreateParameters $company_store_create_parameters Store Parameters for the store to be created and User ID of User that creates the store. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\Store, HTTP status code, HTTP response headers (array of strings)
     */
    public function createStoreForCompanyWithHttpInfo($id, $company_store_create_parameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createStoreForCompany');
        }
        // verify the required parameter 'company_store_create_parameters' is set
        if ($company_store_create_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $company_store_create_parameters when calling createStoreForCompany');
        }
        // parse inputs
        $resourcePath = "/company/{id}/store/create";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($company_store_create_parameters)) {
            $_tempBody = $company_store_create_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Store',
                '/company/{id}/store/create'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Store', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Store', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation removeAdminUserCompany
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\DeleteCompanyUserRoles $delete_company_user_roles Company&#39;s User ID and privileges to be removed  for the company ID. (required)
     * @param string $brand_id ID of the Brand connected with the Company (optional)
     * @param string $store_id ID of the Store connected with the Company (optional)
     * @param string $product_id ID of the Product connected with the Company (optional)
     * @param string $coupon_id ID of the Coupon connected with the Company (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\UserID
     */
    public function removeAdminUserCompany($id, $delete_company_user_roles, $brand_id = null, $store_id = null, $product_id = null, $coupon_id = null)
    {
        list($response) = $this->removeAdminUserCompanyWithHttpInfo($id, $delete_company_user_roles, $brand_id, $store_id, $product_id, $coupon_id);
        return $response;
    }

    /**
     * Operation removeAdminUserCompanyWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Company (required)
     * @param \Swagger\Client\Model\DeleteCompanyUserRoles $delete_company_user_roles Company&#39;s User ID and privileges to be removed  for the company ID. (required)
     * @param string $brand_id ID of the Brand connected with the Company (optional)
     * @param string $store_id ID of the Store connected with the Company (optional)
     * @param string $product_id ID of the Product connected with the Company (optional)
     * @param string $coupon_id ID of the Coupon connected with the Company (optional)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     */
    public function removeAdminUserCompanyWithHttpInfo($id, $delete_company_user_roles, $brand_id = null, $store_id = null, $product_id = null, $coupon_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling removeAdminUserCompany');
        }
        // verify the required parameter 'delete_company_user_roles' is set
        if ($delete_company_user_roles === null) {
            throw new \InvalidArgumentException('Missing the required parameter $delete_company_user_roles when calling removeAdminUserCompany');
        }
        // parse inputs
        $resourcePath = "/company/{id}/user";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // query params
        if ($brand_id !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brand_id);
        }
        // query params
        if ($store_id !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($store_id);
        }
        // query params
        if ($product_id !== null) {
            $queryParams['productID'] = $this->apiClient->getSerializer()->toQueryValue($product_id);
        }
        // query params
        if ($coupon_id !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($coupon_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($delete_company_user_roles)) {
            $_tempBody = $delete_company_user_roles;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/company/{id}/user'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateCompany
     *
     * 
     *
     * @param string $id ID for the company to be updated. (required)
     * @param \Swagger\Client\Model\UpdateCompanyParameters $update_company_parameters Company Parameters for the company to be updated and User ID for the User who makes the update. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return \Swagger\Client\Model\CompanyID
     */
    public function updateCompany($id, $update_company_parameters)
    {
        list($response) = $this->updateCompanyWithHttpInfo($id, $update_company_parameters);
        return $response;
    }

    /**
     * Operation updateCompanyWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the company to be updated. (required)
     * @param \Swagger\Client\Model\UpdateCompanyParameters $update_company_parameters Company Parameters for the company to be updated and User ID for the User who makes the update. (required)
     * @throws \Swagger\Client\ApiException on non-2xx response
     * @return array of \Swagger\Client\Model\CompanyID, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateCompanyWithHttpInfo($id, $update_company_parameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateCompany');
        }
        // verify the required parameter 'update_company_parameters' is set
        if ($update_company_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $update_company_parameters when calling updateCompany');
        }
        // parse inputs
        $resourcePath = "/company/details/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($update_company_parameters)) {
            $_tempBody = $update_company_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CompanyID',
                '/company/details/{id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CompanyID', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CompanyID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 0:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
