<?php
/**
 * CouponApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Coupons Api
 *
 * TrustAndUse coupons api in the swagger-2.0 specification
 *
 * OpenAPI spec version: 1.0.0
 * Contact: sp@7indigo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * CouponApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class CouponApi
{

    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://api.trustanduse.7indigo.website/api/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return CouponApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addUserCoupon
     *
     * 
     *
     * @param string $id ID for the Coupon (required)
     * @param \Swagger\Client\Model\CreateCouponUserRole $createCouponUserRole Coupon&#39;s User Priveleges Parameters for the couponID and UserID. (required)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addUserCoupon($id, $createCouponUserRole)
    {
        list($response) = $this->addUserCouponWithHttpInfo($id, $createCouponUserRole);
        return $response;
    }

    /**
     * Operation addUserCouponWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Coupon (required)
     * @param \Swagger\Client\Model\CreateCouponUserRole $createCouponUserRole Coupon&#39;s User Priveleges Parameters for the couponID and UserID. (required)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addUserCouponWithHttpInfo($id, $createCouponUserRole)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addUserCoupon');
        }
        // verify the required parameter 'createCouponUserRole' is set
        if ($createCouponUserRole === null) {
            throw new \InvalidArgumentException('Missing the required parameter $createCouponUserRole when calling addUserCoupon');
        }
        // parse inputs
        $resourcePath = "/coupon/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($createCouponUserRole)) {
            $_tempBody = $createCouponUserRole;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/coupon/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation allCouponCategories
     *
     * 
     *
     * @return \Swagger\Client\Model\CouponCategoriesArray
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function allCouponCategories()
    {
        list($response) = $this->allCouponCategoriesWithHttpInfo();
        return $response;
    }

    /**
     * Operation allCouponCategoriesWithHttpInfo
     *
     * 
     *
     * @return Array of \Swagger\Client\Model\CouponCategoriesArray, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function allCouponCategoriesWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/coupon/categories";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponCategoriesArray',
                '/coupon/categories'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponCategoriesArray', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponCategoriesArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation allCouponPrimitives
     *
     * 
     *
     * @return \Swagger\Client\Model\CouponPrimitivesArray
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function allCouponPrimitives()
    {
        list($response) = $this->allCouponPrimitivesWithHttpInfo();
        return $response;
    }

    /**
     * Operation allCouponPrimitivesWithHttpInfo
     *
     * 
     *
     * @return Array of \Swagger\Client\Model\CouponPrimitivesArray, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function allCouponPrimitivesWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/coupon/primitive/all";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponPrimitivesArray',
                '/coupon/primitive/all'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponPrimitivesArray', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponPrimitivesArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation couponCategoryCreate
     *
     * 
     *
     * @param \Swagger\Client\Model\CreateCouponCategoryParameters $createCouponCategoryParameters CouponCategory parameters for creating new category consisting of category name, description and subcategories. (required)
     * @return \Swagger\Client\Model\CouponCategory
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function couponCategoryCreate($createCouponCategoryParameters)
    {
        list($response) = $this->couponCategoryCreateWithHttpInfo($createCouponCategoryParameters);
        return $response;
    }

    /**
     * Operation couponCategoryCreateWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\CreateCouponCategoryParameters $createCouponCategoryParameters CouponCategory parameters for creating new category consisting of category name, description and subcategories. (required)
     * @return Array of \Swagger\Client\Model\CouponCategory, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function couponCategoryCreateWithHttpInfo($createCouponCategoryParameters)
    {
        // verify the required parameter 'createCouponCategoryParameters' is set
        if ($createCouponCategoryParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $createCouponCategoryParameters when calling couponCategoryCreate');
        }
        // parse inputs
        $resourcePath = "/coupon/category/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($createCouponCategoryParameters)) {
            $_tempBody = $createCouponCategoryParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponCategory',
                '/coupon/category/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponCategory', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponCategory', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createCoupon
     *
     * 
     *
     * @param \Swagger\Client\Model\CreateCouponParameters $createCouponParameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids. (required)
     * @return \Swagger\Client\Model\Coupon
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCoupon($createCouponParameters)
    {
        list($response) = $this->createCouponWithHttpInfo($createCouponParameters);
        return $response;
    }

    /**
     * Operation createCouponWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\CreateCouponParameters $createCouponParameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids. (required)
     * @return Array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponWithHttpInfo($createCouponParameters)
    {
        // verify the required parameter 'createCouponParameters' is set
        if ($createCouponParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $createCouponParameters when calling createCoupon');
        }
        // parse inputs
        $resourcePath = "/coupon/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($createCouponParameters)) {
            $_tempBody = $createCouponParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/coupon/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createCouponPrimitive
     *
     * 
     *
     * @param \Swagger\Client\Model\PrimitiveParameters $primitiveParameters Coupon Primitive parameters including primitive name, description and primitive validator URL, validator inputs and validator outputs. (required)
     * @return \Swagger\Client\Model\CouponPrimitive
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponPrimitive($primitiveParameters)
    {
        list($response) = $this->createCouponPrimitiveWithHttpInfo($primitiveParameters);
        return $response;
    }

    /**
     * Operation createCouponPrimitiveWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\PrimitiveParameters $primitiveParameters Coupon Primitive parameters including primitive name, description and primitive validator URL, validator inputs and validator outputs. (required)
     * @return Array of \Swagger\Client\Model\CouponPrimitive, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponPrimitiveWithHttpInfo($primitiveParameters)
    {
        // verify the required parameter 'primitiveParameters' is set
        if ($primitiveParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $primitiveParameters when calling createCouponPrimitive');
        }
        // parse inputs
        $resourcePath = "/coupon/primitive/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($primitiveParameters)) {
            $_tempBody = $primitiveParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponPrimitive',
                '/coupon/primitive/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponPrimitive', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponPrimitive', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation editCouponCategory
     *
     * 
     *
     * @param string $couponCategoryID ID for the Coupon Category to be updated. (required)
     * @param \Swagger\Client\Model\UpdateCouponCategoryParameters $updateCouponCategoryParameters Coupon Category parameters consisting of category id, name, description and subcategories. (required)
     * @return \Swagger\Client\Model\CouponCategoryID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function editCouponCategory($couponCategoryID, $updateCouponCategoryParameters)
    {
        list($response) = $this->editCouponCategoryWithHttpInfo($couponCategoryID, $updateCouponCategoryParameters);
        return $response;
    }

    /**
     * Operation editCouponCategoryWithHttpInfo
     *
     * 
     *
     * @param string $couponCategoryID ID for the Coupon Category to be updated. (required)
     * @param \Swagger\Client\Model\UpdateCouponCategoryParameters $updateCouponCategoryParameters Coupon Category parameters consisting of category id, name, description and subcategories. (required)
     * @return Array of \Swagger\Client\Model\CouponCategoryID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function editCouponCategoryWithHttpInfo($couponCategoryID, $updateCouponCategoryParameters)
    {
        // verify the required parameter 'couponCategoryID' is set
        if ($couponCategoryID === null) {
            throw new \InvalidArgumentException('Missing the required parameter $couponCategoryID when calling editCouponCategory');
        }
        // verify the required parameter 'updateCouponCategoryParameters' is set
        if ($updateCouponCategoryParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $updateCouponCategoryParameters when calling editCouponCategory');
        }
        // parse inputs
        $resourcePath = "/coupon/category/{couponCategoryID}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($couponCategoryID !== null) {
            $resourcePath = str_replace(
                "{" . "couponCategoryID" . "}",
                $this->apiClient->getSerializer()->toPathValue($couponCategoryID),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($updateCouponCategoryParameters)) {
            $_tempBody = $updateCouponCategoryParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponCategoryID',
                '/coupon/category/{couponCategoryID}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponCategoryID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponCategoryID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation editCouponPrimitive
     *
     * 
     *
     * @param string $primitiveID ID for the Coupon Primitive to be updated. (required)
     * @param \Swagger\Client\Model\CouponPrimitiveParameters $couponPrimitiveParameters Coupon Primitive parameters including primitive id and primitive name, description, validator URL, validator inputs and validator outputs. (required)
     * @return \Swagger\Client\Model\CouponPrimitiveID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function editCouponPrimitive($primitiveID, $couponPrimitiveParameters)
    {
        list($response) = $this->editCouponPrimitiveWithHttpInfo($primitiveID, $couponPrimitiveParameters);
        return $response;
    }

    /**
     * Operation editCouponPrimitiveWithHttpInfo
     *
     * 
     *
     * @param string $primitiveID ID for the Coupon Primitive to be updated. (required)
     * @param \Swagger\Client\Model\CouponPrimitiveParameters $couponPrimitiveParameters Coupon Primitive parameters including primitive id and primitive name, description, validator URL, validator inputs and validator outputs. (required)
     * @return Array of \Swagger\Client\Model\CouponPrimitiveID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function editCouponPrimitiveWithHttpInfo($primitiveID, $couponPrimitiveParameters)
    {
        // verify the required parameter 'primitiveID' is set
        if ($primitiveID === null) {
            throw new \InvalidArgumentException('Missing the required parameter $primitiveID when calling editCouponPrimitive');
        }
        // verify the required parameter 'couponPrimitiveParameters' is set
        if ($couponPrimitiveParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $couponPrimitiveParameters when calling editCouponPrimitive');
        }
        // parse inputs
        $resourcePath = "/coupon/primitive/{primitiveID}/details";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($primitiveID !== null) {
            $resourcePath = str_replace(
                "{" . "primitiveID" . "}",
                $this->apiClient->getSerializer()->toPathValue($primitiveID),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($couponPrimitiveParameters)) {
            $_tempBody = $couponPrimitiveParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponPrimitiveID',
                '/coupon/primitive/{primitiveID}/details'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponPrimitiveID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponPrimitiveID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getCouponById
     *
     * 
     *
     * @param string $id ID for the coupon being searched for. (required)
     * @param string $companyID Company ID Parameter for the company that the Coupon is connected to.Required only if the Coupon is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the Coupon is connected to.Required only if the Coupon is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the Coupon is connected to.Required only if the Coupon is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the Coupon is connected to.Required only if the Coupon is connected with a Merchant. (optional)
     * @param string $productID Product ID Parameter for the Product that the Coupon is connected to.Required only if the Coupon is connected with a Product. (optional)
     * @return \Swagger\Client\Model\Coupon
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponById($id, $companyID = null, $brandID = null, $storeID = null, $merchantID = null, $productID = null)
    {
        list($response) = $this->getCouponByIdWithHttpInfo($id, $companyID, $brandID, $storeID, $merchantID, $productID);
        return $response;
    }

    /**
     * Operation getCouponByIdWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the coupon being searched for. (required)
     * @param string $companyID Company ID Parameter for the company that the Coupon is connected to.Required only if the Coupon is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the Coupon is connected to.Required only if the Coupon is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the Coupon is connected to.Required only if the Coupon is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the Coupon is connected to.Required only if the Coupon is connected with a Merchant. (optional)
     * @param string $productID Product ID Parameter for the Product that the Coupon is connected to.Required only if the Coupon is connected with a Product. (optional)
     * @return Array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponByIdWithHttpInfo($id, $companyID = null, $brandID = null, $storeID = null, $merchantID = null, $productID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getCouponById');
        }
        // parse inputs
        $resourcePath = "/coupon/{id}/details";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // query params
        if ($productID !== null) {
            $queryParams['productID'] = $this->apiClient->getSerializer()->toQueryValue($productID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/coupon/{id}/details'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getCouponCategoryById
     *
     * 
     *
     * @param string $couponCategoryID ID for the Coupon Category being searched for. (required)
     * @return \Swagger\Client\Model\CouponCategory
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponCategoryById($couponCategoryID)
    {
        list($response) = $this->getCouponCategoryByIdWithHttpInfo($couponCategoryID);
        return $response;
    }

    /**
     * Operation getCouponCategoryByIdWithHttpInfo
     *
     * 
     *
     * @param string $couponCategoryID ID for the Coupon Category being searched for. (required)
     * @return Array of \Swagger\Client\Model\CouponCategory, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponCategoryByIdWithHttpInfo($couponCategoryID)
    {
        // verify the required parameter 'couponCategoryID' is set
        if ($couponCategoryID === null) {
            throw new \InvalidArgumentException('Missing the required parameter $couponCategoryID when calling getCouponCategoryById');
        }
        // parse inputs
        $resourcePath = "/coupon/category/{couponCategoryID}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($couponCategoryID !== null) {
            $resourcePath = str_replace(
                "{" . "couponCategoryID" . "}",
                $this->apiClient->getSerializer()->toPathValue($couponCategoryID),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponCategory',
                '/coupon/category/{couponCategoryID}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponCategory', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponCategory', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getCouponPrimitiveById
     *
     * 
     *
     * @param string $primitiveID ID for the Coupon Primitive being searched for. (required)
     * @return \Swagger\Client\Model\CouponPrimitive
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponPrimitiveById($primitiveID)
    {
        list($response) = $this->getCouponPrimitiveByIdWithHttpInfo($primitiveID);
        return $response;
    }

    /**
     * Operation getCouponPrimitiveByIdWithHttpInfo
     *
     * 
     *
     * @param string $primitiveID ID for the Coupon Primitive being searched for. (required)
     * @return Array of \Swagger\Client\Model\CouponPrimitive, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponPrimitiveByIdWithHttpInfo($primitiveID)
    {
        // verify the required parameter 'primitiveID' is set
        if ($primitiveID === null) {
            throw new \InvalidArgumentException('Missing the required parameter $primitiveID when calling getCouponPrimitiveById');
        }
        // parse inputs
        $resourcePath = "/coupon/primitive/{primitiveID}/details";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($primitiveID !== null) {
            $resourcePath = str_replace(
                "{" . "primitiveID" . "}",
                $this->apiClient->getSerializer()->toPathValue($primitiveID),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponPrimitive',
                '/coupon/primitive/{primitiveID}/details'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponPrimitive', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponPrimitive', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getCouponTerms
     *
     * 
     *
     * @param string $id ID for the coupon being searched for (required)
     * @return \Swagger\Client\Model\CouponTerms
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponTerms($id)
    {
        list($response) = $this->getCouponTermsWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getCouponTermsWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the coupon being searched for (required)
     * @return Array of \Swagger\Client\Model\CouponTerms, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getCouponTermsWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getCouponTerms');
        }
        // parse inputs
        $resourcePath = "/coupon/{id}/terms";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponTerms',
                '/coupon/{id}/terms'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponTerms', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponTerms', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation removeUserCouponPrivileges
     *
     * 
     *
     * @param string $id ID for the Coupon (required)
     * @param \Swagger\Client\Model\DeleteCouponUserRole $deleteCouponUserRole Coupons User ID and Role to be removed  for the coupon ID. (required)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function removeUserCouponPrivileges($id, $deleteCouponUserRole)
    {
        list($response) = $this->removeUserCouponPrivilegesWithHttpInfo($id, $deleteCouponUserRole);
        return $response;
    }

    /**
     * Operation removeUserCouponPrivilegesWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Coupon (required)
     * @param \Swagger\Client\Model\DeleteCouponUserRole $deleteCouponUserRole Coupons User ID and Role to be removed  for the coupon ID. (required)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function removeUserCouponPrivilegesWithHttpInfo($id, $deleteCouponUserRole)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling removeUserCouponPrivileges');
        }
        // verify the required parameter 'deleteCouponUserRole' is set
        if ($deleteCouponUserRole === null) {
            throw new \InvalidArgumentException('Missing the required parameter $deleteCouponUserRole when calling removeUserCouponPrivileges');
        }
        // parse inputs
        $resourcePath = "/coupon/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($deleteCouponUserRole)) {
            $_tempBody = $deleteCouponUserRole;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/coupon/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation setCouponTerms
     *
     * 
     *
     * @param string $id ID for the coupon being searched for (required)
     * @param \Swagger\Client\Model\SetCouponTermsParameters $setCouponTermsParameters Coupon Parameters for the coupon to be updated (required)
     * @return \Swagger\Client\Model\Coupon
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function setCouponTerms($id, $setCouponTermsParameters)
    {
        list($response) = $this->setCouponTermsWithHttpInfo($id, $setCouponTermsParameters);
        return $response;
    }

    /**
     * Operation setCouponTermsWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the coupon being searched for (required)
     * @param \Swagger\Client\Model\SetCouponTermsParameters $setCouponTermsParameters Coupon Parameters for the coupon to be updated (required)
     * @return Array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function setCouponTermsWithHttpInfo($id, $setCouponTermsParameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling setCouponTerms');
        }
        // verify the required parameter 'setCouponTermsParameters' is set
        if ($setCouponTermsParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $setCouponTermsParameters when calling setCouponTerms');
        }
        // parse inputs
        $resourcePath = "/coupon/{id}/terms";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($setCouponTermsParameters)) {
            $_tempBody = $setCouponTermsParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/coupon/{id}/terms'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateCoupon
     *
     * 
     *
     * @param string $id ID for the coupon to be updated. (required)
     * @param \Swagger\Client\Model\UpdateCouponParameters $updateCouponParameters Coupon Parameters consisting of coupon id, userid who initiated the update proccess, name, description, kind, products ids, categories ids, subcategories ids, primitives ids and optionally store ids. (required)
     * @param string $companyID Company ID Parameter for the company that the Coupon is connected to.Required only if the Coupon is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the Coupon is connected to.Required only if the Coupon is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the Coupon is connected to.Required only if the Coupon is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the Coupon is connected to.Required only if the Coupon is connected with a Merchant. (optional)
     * @param string $productID Product ID Parameter for the Product that the Coupon is connected to.Required only if the Coupon is connected with a Product. (optional)
     * @return \Swagger\Client\Model\CouponID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateCoupon($id, $updateCouponParameters, $companyID = null, $brandID = null, $storeID = null, $merchantID = null, $productID = null)
    {
        list($response) = $this->updateCouponWithHttpInfo($id, $updateCouponParameters, $companyID, $brandID, $storeID, $merchantID, $productID);
        return $response;
    }

    /**
     * Operation updateCouponWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the coupon to be updated. (required)
     * @param \Swagger\Client\Model\UpdateCouponParameters $updateCouponParameters Coupon Parameters consisting of coupon id, userid who initiated the update proccess, name, description, kind, products ids, categories ids, subcategories ids, primitives ids and optionally store ids. (required)
     * @param string $companyID Company ID Parameter for the company that the Coupon is connected to.Required only if the Coupon is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the Coupon is connected to.Required only if the Coupon is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the Coupon is connected to.Required only if the Coupon is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the Coupon is connected to.Required only if the Coupon is connected with a Merchant. (optional)
     * @param string $productID Product ID Parameter for the Product that the Coupon is connected to.Required only if the Coupon is connected with a Product. (optional)
     * @return Array of \Swagger\Client\Model\CouponID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateCouponWithHttpInfo($id, $updateCouponParameters, $companyID = null, $brandID = null, $storeID = null, $merchantID = null, $productID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateCoupon');
        }
        // verify the required parameter 'updateCouponParameters' is set
        if ($updateCouponParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $updateCouponParameters when calling updateCoupon');
        }
        // parse inputs
        $resourcePath = "/coupon/{id}/details";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // query params
        if ($productID !== null) {
            $queryParams['productID'] = $this->apiClient->getSerializer()->toQueryValue($productID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($updateCouponParameters)) {
            $_tempBody = $updateCouponParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\CouponID',
                '/coupon/{id}/details'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\CouponID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\CouponID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
