<?php
/**
 * ProductApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Coupons Api
 *
 * TrustAndUse coupons api in the swagger-2.0 specification
 *
 * OpenAPI spec version: 1.0.0
 * Contact: sp@7indigo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * ProductApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ProductApi
{

    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://api.trustanduse.com/v1.0');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return ProductApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addProductBarcode
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\AddBarcode $addBarcode Barcode parameters for updating product (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\ProductID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addProductBarcode($id, $addBarcode, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        list($response) = $this->addProductBarcodeWithHttpInfo($id, $addBarcode, $companyID, $brandID, $storeID, $merchantID);
        return $response;
    }

    /**
     * Operation addProductBarcodeWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\AddBarcode $addBarcode Barcode parameters for updating product (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\ProductID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addProductBarcodeWithHttpInfo($id, $addBarcode, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addProductBarcode');
        }
        // verify the required parameter 'addBarcode' is set
        if ($addBarcode === null) {
            throw new \InvalidArgumentException('Missing the required parameter $addBarcode when calling addProductBarcode');
        }
        // parse inputs
        $resourcePath = "/product/{id}/barcodes";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($addBarcode)) {
            $_tempBody = $addBarcode;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductID',
                '/product/{id}/barcodes'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addUserProduct
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\CreateProductUserRole $createProductUserRole Product&#39;s User Priveleges Parameters for the productID and UserID. (required)
     * @param string $couponID ID of the Coupon connected with the Product (only required for Authorization for the User making the request) (optional)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addUserProduct($id, $createProductUserRole, $couponID = null)
    {
        list($response) = $this->addUserProductWithHttpInfo($id, $createProductUserRole, $couponID);
        return $response;
    }

    /**
     * Operation addUserProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\CreateProductUserRole $createProductUserRole Product&#39;s User Priveleges Parameters for the productID and UserID. (required)
     * @param string $couponID ID of the Coupon connected with the Product (only required for Authorization for the User making the request) (optional)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addUserProductWithHttpInfo($id, $createProductUserRole, $couponID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addUserProduct');
        }
        // verify the required parameter 'createProductUserRole' is set
        if ($createProductUserRole === null) {
            throw new \InvalidArgumentException('Missing the required parameter $createProductUserRole when calling addUserProduct');
        }
        // parse inputs
        $resourcePath = "/product/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($couponID !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($couponID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($createProductUserRole)) {
            $_tempBody = $createProductUserRole;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/product/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation allProducts
     *
     * 
     *
     * @param string $name Optional filter parameter to search for products with a name that contains value of parameter name. (optional)
     * @param string $productype Optional filter parameter to search for products with a productype that contains value of parameter productype. (optional)
     * @param string $description Optional filter parameter to search for products with description that contains value of parameter description. (optional)
     * @return \Swagger\Client\Model\ProductsArray
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function allProducts($name = null, $productype = null, $description = null)
    {
        list($response) = $this->allProductsWithHttpInfo($name, $productype, $description);
        return $response;
    }

    /**
     * Operation allProductsWithHttpInfo
     *
     * 
     *
     * @param string $name Optional filter parameter to search for products with a name that contains value of parameter name. (optional)
     * @param string $productype Optional filter parameter to search for products with a productype that contains value of parameter productype. (optional)
     * @param string $description Optional filter parameter to search for products with description that contains value of parameter description. (optional)
     * @return Array of \Swagger\Client\Model\ProductsArray, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function allProductsWithHttpInfo($name = null, $productype = null, $description = null)
    {
        // parse inputs
        $resourcePath = "/product/all";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($name !== null) {
            $queryParams['name'] = $this->apiClient->getSerializer()->toQueryValue($name);
        }
        // query params
        if ($productype !== null) {
            $queryParams['productype'] = $this->apiClient->getSerializer()->toQueryValue($productype);
        }
        // query params
        if ($description !== null) {
            $queryParams['description'] = $this->apiClient->getSerializer()->toQueryValue($description);
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductsArray',
                '/product/all'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductsArray', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductsArray', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createCouponProduct
     *
     * 
     *
     * @param string $id ID of the Product (required)
     * @param \Swagger\Client\Model\ProductCouponCreateParameters $productCouponCreateParameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids. (required)
     * @return \Swagger\Client\Model\Coupon
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponProduct($id, $productCouponCreateParameters)
    {
        list($response) = $this->createCouponProductWithHttpInfo($id, $productCouponCreateParameters);
        return $response;
    }

    /**
     * Operation createCouponProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID of the Product (required)
     * @param \Swagger\Client\Model\ProductCouponCreateParameters $productCouponCreateParameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids. (required)
     * @return Array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponProductWithHttpInfo($id, $productCouponCreateParameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createCouponProduct');
        }
        // verify the required parameter 'productCouponCreateParameters' is set
        if ($productCouponCreateParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $productCouponCreateParameters when calling createCouponProduct');
        }
        // parse inputs
        $resourcePath = "/product/{id}/coupon/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($productCouponCreateParameters)) {
            $_tempBody = $productCouponCreateParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/product/{id}/coupon/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createProduct
     *
     * 
     *
     * @param \Swagger\Client\Model\ProductCreateParameters $productCreateParameters Product parameters for creating new product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @return \Swagger\Client\Model\Product
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createProduct($productCreateParameters)
    {
        list($response) = $this->createProductWithHttpInfo($productCreateParameters);
        return $response;
    }

    /**
     * Operation createProductWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\ProductCreateParameters $productCreateParameters Product parameters for creating new product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @return Array of \Swagger\Client\Model\Product, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createProductWithHttpInfo($productCreateParameters)
    {
        // verify the required parameter 'productCreateParameters' is set
        if ($productCreateParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $productCreateParameters when calling createProduct');
        }
        // parse inputs
        $resourcePath = "/product/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($productCreateParameters)) {
            $_tempBody = $productCreateParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Product',
                '/product/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Product', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Product', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getProductDetails
     *
     * 
     *
     * @param string $id ID for the product being searched for. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a Company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\Product
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getProductDetails($id, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        list($response) = $this->getProductDetailsWithHttpInfo($id, $companyID, $brandID, $storeID, $merchantID);
        return $response;
    }

    /**
     * Operation getProductDetailsWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product being searched for. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a Company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\Product, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getProductDetailsWithHttpInfo($id, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getProductDetails');
        }
        // parse inputs
        $resourcePath = "/product/details/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Product',
                '/product/details/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Product', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Product', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation productDelete
     *
     * 
     *
     * @param string $id ID for the product to be deleted. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\Success
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productDelete($id, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        list($response) = $this->productDeleteWithHttpInfo($id, $companyID, $brandID, $storeID, $merchantID);
        return $response;
    }

    /**
     * Operation productDeleteWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be deleted. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\Success, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function productDeleteWithHttpInfo($id, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling productDelete');
        }
        // parse inputs
        $resourcePath = "/product/{id}/delete";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Success',
                '/product/{id}/delete'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Success', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Success', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation removeUserProduct
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\DeleteProductUserRole $deleteProductUserRole Product&#39;s User ID and privileges to be removed  for the product ID. (required)
     * @param string $couponID ID of the Coupon connected with the Product (only required for Authorization for the User making the request) (optional)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function removeUserProduct($id, $deleteProductUserRole, $couponID = null)
    {
        list($response) = $this->removeUserProductWithHttpInfo($id, $deleteProductUserRole, $couponID);
        return $response;
    }

    /**
     * Operation removeUserProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\DeleteProductUserRole $deleteProductUserRole Product&#39;s User ID and privileges to be removed  for the product ID. (required)
     * @param string $couponID ID of the Coupon connected with the Product (only required for Authorization for the User making the request) (optional)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function removeUserProductWithHttpInfo($id, $deleteProductUserRole, $couponID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling removeUserProduct');
        }
        // verify the required parameter 'deleteProductUserRole' is set
        if ($deleteProductUserRole === null) {
            throw new \InvalidArgumentException('Missing the required parameter $deleteProductUserRole when calling removeUserProduct');
        }
        // parse inputs
        $resourcePath = "/product/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($couponID !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($couponID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($deleteProductUserRole)) {
            $_tempBody = $deleteProductUserRole;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/product/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateProduct
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateProductParameters $updateProductParameters Product parameters for updating product consisting of product type, name, description, brandID, images and merchantids. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\ProductID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateProduct($id, $updateProductParameters, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        list($response) = $this->updateProductWithHttpInfo($id, $updateProductParameters, $companyID, $brandID, $storeID, $merchantID);
        return $response;
    }

    /**
     * Operation updateProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateProductParameters $updateProductParameters Product parameters for updating product consisting of product type, name, description, brandID, images and merchantids. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\ProductID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateProductWithHttpInfo($id, $updateProductParameters, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateProduct');
        }
        // verify the required parameter 'updateProductParameters' is set
        if ($updateProductParameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $updateProductParameters when calling updateProduct');
        }
        // parse inputs
        $resourcePath = "/product/details/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($updateProductParameters)) {
            $_tempBody = $updateProductParameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductID',
                '/product/details/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateProductBarcodes
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateBarcode $updateBarcode Product parameters for updating product consisting of productID for which to update the barcodes, userID for Authorization to grand permission and barcodes array. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a Company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\ProductID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateProductBarcodes($id, $updateBarcode, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        list($response) = $this->updateProductBarcodesWithHttpInfo($id, $updateBarcode, $companyID, $brandID, $storeID, $merchantID);
        return $response;
    }

    /**
     * Operation updateProductBarcodesWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateBarcode $updateBarcode Product parameters for updating product consisting of productID for which to update the barcodes, userID for Authorization to grand permission and barcodes array. (required)
     * @param string $companyID Company ID Parameter for the company that the product is connected to. Required only if the product is connected with a Company. (optional)
     * @param string $brandID Brand ID Parameter for the Brand that the product is connected to. Required only if the product is connected with a Brand. (optional)
     * @param string $storeID Store ID Parameter for the Store that the product is connected to. Required only if the product is connected with a Store. (optional)
     * @param string $merchantID Merchant ID Parameter for the Merchant that the product is connected to. Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\ProductID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateProductBarcodesWithHttpInfo($id, $updateBarcode, $companyID = null, $brandID = null, $storeID = null, $merchantID = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateProductBarcodes');
        }
        // verify the required parameter 'updateBarcode' is set
        if ($updateBarcode === null) {
            throw new \InvalidArgumentException('Missing the required parameter $updateBarcode when calling updateProductBarcodes');
        }
        // parse inputs
        $resourcePath = "/product/{id}/barcodes";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($companyID !== null) {
            $queryParams['companyID'] = $this->apiClient->getSerializer()->toQueryValue($companyID);
        }
        // query params
        if ($brandID !== null) {
            $queryParams['brandID'] = $this->apiClient->getSerializer()->toQueryValue($brandID);
        }
        // query params
        if ($storeID !== null) {
            $queryParams['storeID'] = $this->apiClient->getSerializer()->toQueryValue($storeID);
        }
        // query params
        if ($merchantID !== null) {
            $queryParams['merchantID'] = $this->apiClient->getSerializer()->toQueryValue($merchantID);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($updateBarcode)) {
            $_tempBody = $updateBarcode;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductID',
                '/product/{id}/barcodes'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
