<?php
/**
 * ProductApi
 * PHP version 5
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Coupons Api
 *
 * TrustAndUse coupons api in the swagger-2.0 specification
 *
 * OpenAPI spec version: 1.0.0
 * Contact: sp@7indigo.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Swagger\Client\Api;

use \Swagger\Client\Configuration;
use \Swagger\Client\ApiClient;
use \Swagger\Client\ApiException;
use \Swagger\Client\ObjectSerializer;

/**
 * ProductApi Class Doc Comment
 *
 * @category Class
 * @package  Swagger\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ProductApi
{

    /**
     * API Client
     *
     * @var \Swagger\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Swagger\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Swagger\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('http://api.trustanduse.7indigo.website/api/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Swagger\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Swagger\Client\ApiClient $apiClient set the API client
     *
     * @return ProductApi
     */
    public function setApiClient(\Swagger\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addProductBarcode
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\AddBarcode $add_barcode Barcode parameters for updating product consisting of productID, barcodes array of strings and userID for authorization. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\ProductID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addProductBarcode($id, $add_barcode, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        list($response) = $this->addProductBarcodeWithHttpInfo($id, $add_barcode, $company_parameter, $brand_parameter, $store_parameter, $merchant_parameter);
        return $response;
    }

    /**
     * Operation addProductBarcodeWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\AddBarcode $add_barcode Barcode parameters for updating product consisting of productID, barcodes array of strings and userID for authorization. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\ProductID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addProductBarcodeWithHttpInfo($id, $add_barcode, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addProductBarcode');
        }
        // verify the required parameter 'add_barcode' is set
        if ($add_barcode === null) {
            throw new \InvalidArgumentException('Missing the required parameter $add_barcode when calling addProductBarcode');
        }
        // parse inputs
        $resourcePath = "/product/{id}/barcodes";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($company_parameter !== null) {
            $queryParams['companyParameter'] = $this->apiClient->getSerializer()->toQueryValue($company_parameter);
        }
        // query params
        if ($brand_parameter !== null) {
            $queryParams['brandParameter'] = $this->apiClient->getSerializer()->toQueryValue($brand_parameter);
        }
        // query params
        if ($store_parameter !== null) {
            $queryParams['storeParameter'] = $this->apiClient->getSerializer()->toQueryValue($store_parameter);
        }
        // query params
        if ($merchant_parameter !== null) {
            $queryParams['merchantParameter'] = $this->apiClient->getSerializer()->toQueryValue($merchant_parameter);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($add_barcode)) {
            $_tempBody = $add_barcode;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductID',
                '/product/{id}/barcodes'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation addUserProduct
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\ProductAdminRole $product_admin_role Product&#39;s User Priveleges Parameters for the productID and UserID. (required)
     * @param string $coupon_id ID of the Coupon connected with the Product (optional)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addUserProduct($id, $product_admin_role, $coupon_id = null)
    {
        list($response) = $this->addUserProductWithHttpInfo($id, $product_admin_role, $coupon_id);
        return $response;
    }

    /**
     * Operation addUserProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\ProductAdminRole $product_admin_role Product&#39;s User Priveleges Parameters for the productID and UserID. (required)
     * @param string $coupon_id ID of the Coupon connected with the Product (optional)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function addUserProductWithHttpInfo($id, $product_admin_role, $coupon_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling addUserProduct');
        }
        // verify the required parameter 'product_admin_role' is set
        if ($product_admin_role === null) {
            throw new \InvalidArgumentException('Missing the required parameter $product_admin_role when calling addUserProduct');
        }
        // parse inputs
        $resourcePath = "/product/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($coupon_id !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($coupon_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($product_admin_role)) {
            $_tempBody = $product_admin_role;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/product/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation changeUserProductPrivileges
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\UpdateProductUserRole $update_product_user_role Store&#39;s User Priveleges Parameters for the ProductID and UserID. (required)
     * @param string $coupon_id ID of the Coupon connected with the Product (optional)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function changeUserProductPrivileges($id, $update_product_user_role, $coupon_id = null)
    {
        list($response) = $this->changeUserProductPrivilegesWithHttpInfo($id, $update_product_user_role, $coupon_id);
        return $response;
    }

    /**
     * Operation changeUserProductPrivilegesWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\UpdateProductUserRole $update_product_user_role Store&#39;s User Priveleges Parameters for the ProductID and UserID. (required)
     * @param string $coupon_id ID of the Coupon connected with the Product (optional)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function changeUserProductPrivilegesWithHttpInfo($id, $update_product_user_role, $coupon_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling changeUserProductPrivileges');
        }
        // verify the required parameter 'update_product_user_role' is set
        if ($update_product_user_role === null) {
            throw new \InvalidArgumentException('Missing the required parameter $update_product_user_role when calling changeUserProductPrivileges');
        }
        // parse inputs
        $resourcePath = "/product/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($coupon_id !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($coupon_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($update_product_user_role)) {
            $_tempBody = $update_product_user_role;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/product/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createCouponProduct
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\ProductCouponCreateParameters $product_coupon_create_parameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids and offerproviderids. (required)
     * @return \Swagger\Client\Model\Coupon
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponProduct($id, $product_coupon_create_parameters)
    {
        list($response) = $this->createCouponProductWithHttpInfo($id, $product_coupon_create_parameters);
        return $response;
    }

    /**
     * Operation createCouponProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\ProductCouponCreateParameters $product_coupon_create_parameters Coupon Parameters consisting of userid who initiated the creation proccess, products ids, categories ids, subcategories ids, primitives ids and optionally store ids and offerproviderids. (required)
     * @return Array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createCouponProductWithHttpInfo($id, $product_coupon_create_parameters)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createCouponProduct');
        }
        // verify the required parameter 'product_coupon_create_parameters' is set
        if ($product_coupon_create_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $product_coupon_create_parameters when calling createCouponProduct');
        }
        // parse inputs
        $resourcePath = "/product/{id}/coupon/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($product_coupon_create_parameters)) {
            $_tempBody = $product_coupon_create_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/product/{id}/coupon/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createProduct
     *
     * 
     *
     * @param \Swagger\Client\Model\ProductParameters $product_parameters Product parameters for creating new product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @return \Swagger\Client\Model\Product
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createProduct($product_parameters)
    {
        list($response) = $this->createProductWithHttpInfo($product_parameters);
        return $response;
    }

    /**
     * Operation createProductWithHttpInfo
     *
     * 
     *
     * @param \Swagger\Client\Model\ProductParameters $product_parameters Product parameters for creating new product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @return Array of \Swagger\Client\Model\Product, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function createProductWithHttpInfo($product_parameters)
    {
        // verify the required parameter 'product_parameters' is set
        if ($product_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $product_parameters when calling createProduct');
        }
        // parse inputs
        $resourcePath = "/product/create";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($product_parameters)) {
            $_tempBody = $product_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Product',
                '/product/create'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Product', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Product', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getProductById
     *
     * 
     *
     * @param string $id ID for the product being searched for. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\Product
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getProductById($id, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        list($response) = $this->getProductByIdWithHttpInfo($id, $company_parameter, $brand_parameter, $store_parameter, $merchant_parameter);
        return $response;
    }

    /**
     * Operation getProductByIdWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product being searched for. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\Product, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getProductByIdWithHttpInfo($id, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getProductById');
        }
        // parse inputs
        $resourcePath = "/product/details/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($company_parameter !== null) {
            $queryParams['companyParameter'] = $this->apiClient->getSerializer()->toQueryValue($company_parameter);
        }
        // query params
        if ($brand_parameter !== null) {
            $queryParams['brandParameter'] = $this->apiClient->getSerializer()->toQueryValue($brand_parameter);
        }
        // query params
        if ($store_parameter !== null) {
            $queryParams['storeParameter'] = $this->apiClient->getSerializer()->toQueryValue($store_parameter);
        }
        // query params
        if ($merchant_parameter !== null) {
            $queryParams['merchantParameter'] = $this->apiClient->getSerializer()->toQueryValue($merchant_parameter);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Product',
                '/product/details/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Product', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Product', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getProductCoupons
     *
     * 
     *
     * @param string $id ID for the product to find the coupons for (required)
     * @return \Swagger\Client\Model\Coupon
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getProductCoupons($id)
    {
        list($response) = $this->getProductCouponsWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getProductCouponsWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to find the coupons for (required)
     * @return Array of \Swagger\Client\Model\Coupon, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function getProductCouponsWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getProductCoupons');
        }
        // parse inputs
        $resourcePath = "/product/{id}/coupons";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\Coupon',
                '/product/{id}/coupons'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\Coupon', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Coupon', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation removeUserProductPrivileges
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\DeleteProductUserRole $delete_product_user_role Product&#39;s User ID and privileges to be removed  for the product ID. (required)
     * @param string $coupon_id ID of the Coupon connected with the Product (optional)
     * @return \Swagger\Client\Model\UserID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function removeUserProductPrivileges($id, $delete_product_user_role, $coupon_id = null)
    {
        list($response) = $this->removeUserProductPrivilegesWithHttpInfo($id, $delete_product_user_role, $coupon_id);
        return $response;
    }

    /**
     * Operation removeUserProductPrivilegesWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the Product (required)
     * @param \Swagger\Client\Model\DeleteProductUserRole $delete_product_user_role Product&#39;s User ID and privileges to be removed  for the product ID. (required)
     * @param string $coupon_id ID of the Coupon connected with the Product (optional)
     * @return Array of \Swagger\Client\Model\UserID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function removeUserProductPrivilegesWithHttpInfo($id, $delete_product_user_role, $coupon_id = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling removeUserProductPrivileges');
        }
        // verify the required parameter 'delete_product_user_role' is set
        if ($delete_product_user_role === null) {
            throw new \InvalidArgumentException('Missing the required parameter $delete_product_user_role when calling removeUserProductPrivileges');
        }
        // parse inputs
        $resourcePath = "/product/{id}/user";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($coupon_id !== null) {
            $queryParams['couponID'] = $this->apiClient->getSerializer()->toQueryValue($coupon_id);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($delete_product_user_role)) {
            $_tempBody = $delete_product_user_role;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\UserID',
                '/product/{id}/user'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\UserID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\UserID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateBarcodes
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateBarcode $update_barcode Product parameters for updating product consisting of productID for which to update the barcodes, userID for Authorization to grand permission and barcodes array. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\ProductID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateBarcodes($id, $update_barcode, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        list($response) = $this->updateBarcodesWithHttpInfo($id, $update_barcode, $company_parameter, $brand_parameter, $store_parameter, $merchant_parameter);
        return $response;
    }

    /**
     * Operation updateBarcodesWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateBarcode $update_barcode Product parameters for updating product consisting of productID for which to update the barcodes, userID for Authorization to grand permission and barcodes array. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\ProductID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateBarcodesWithHttpInfo($id, $update_barcode, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateBarcodes');
        }
        // verify the required parameter 'update_barcode' is set
        if ($update_barcode === null) {
            throw new \InvalidArgumentException('Missing the required parameter $update_barcode when calling updateBarcodes');
        }
        // parse inputs
        $resourcePath = "/product/{id}/barcodes";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($company_parameter !== null) {
            $queryParams['companyParameter'] = $this->apiClient->getSerializer()->toQueryValue($company_parameter);
        }
        // query params
        if ($brand_parameter !== null) {
            $queryParams['brandParameter'] = $this->apiClient->getSerializer()->toQueryValue($brand_parameter);
        }
        // query params
        if ($store_parameter !== null) {
            $queryParams['storeParameter'] = $this->apiClient->getSerializer()->toQueryValue($store_parameter);
        }
        // query params
        if ($merchant_parameter !== null) {
            $queryParams['merchantParameter'] = $this->apiClient->getSerializer()->toQueryValue($merchant_parameter);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($update_barcode)) {
            $_tempBody = $update_barcode;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductID',
                '/product/{id}/barcodes'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateProduct
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateProductParameters $update_product_parameters Product parameters for updating product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return \Swagger\Client\Model\ProductID
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateProduct($id, $update_product_parameters, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        list($response) = $this->updateProductWithHttpInfo($id, $update_product_parameters, $company_parameter, $brand_parameter, $store_parameter, $merchant_parameter);
        return $response;
    }

    /**
     * Operation updateProductWithHttpInfo
     *
     * 
     *
     * @param string $id ID for the product to be updated. (required)
     * @param \Swagger\Client\Model\UpdateProductParameters $update_product_parameters Product parameters for updating product consisting of product type, name, description, brandID, images and optionally merchantids. (required)
     * @param string $company_parameter Company ID Parameter for the company that the product is connected to.Required only if the product is connected with a company. (optional)
     * @param string $brand_parameter Brand ID Parameter for the Brand that the product is connected to.Required only if the product is connected with a Brand. (optional)
     * @param string $store_parameter Store ID Parameter for the Store that the product is connected to.Required only if the product is connected with a Store. (optional)
     * @param string $merchant_parameter Merchant ID Parameter for the Merchant that the product is connected to.Required only if the product is connected with a Merchant. (optional)
     * @return Array of \Swagger\Client\Model\ProductID, HTTP status code, HTTP response headers (array of strings)
     * @throws \Swagger\Client\ApiException on non-2xx response
     */
    public function updateProductWithHttpInfo($id, $update_product_parameters, $company_parameter = null, $brand_parameter = null, $store_parameter = null, $merchant_parameter = null)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling updateProduct');
        }
        // verify the required parameter 'update_product_parameters' is set
        if ($update_product_parameters === null) {
            throw new \InvalidArgumentException('Missing the required parameter $update_product_parameters when calling updateProduct');
        }
        // parse inputs
        $resourcePath = "/product/details/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json'));

        // query params
        if ($company_parameter !== null) {
            $queryParams['companyParameter'] = $this->apiClient->getSerializer()->toQueryValue($company_parameter);
        }
        // query params
        if ($brand_parameter !== null) {
            $queryParams['brandParameter'] = $this->apiClient->getSerializer()->toQueryValue($brand_parameter);
        }
        // query params
        if ($store_parameter !== null) {
            $queryParams['storeParameter'] = $this->apiClient->getSerializer()->toQueryValue($store_parameter);
        }
        // query params
        if ($merchant_parameter !== null) {
            $queryParams['merchantParameter'] = $this->apiClient->getSerializer()->toQueryValue($merchant_parameter);
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($update_product_parameters)) {
            $_tempBody = $update_product_parameters;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Swagger\Client\Model\ProductID',
                '/product/details/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\Swagger\Client\Model\ProductID', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\ProductID', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                default:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Swagger\Client\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
